# Ensure gradlew always uses Unix line endings
gradlew text eol=lf

# Ensure Windows batch files use Windows line endings
*.bat text eol=crlf

# Auto-detect text files and perform LF normalization for other files
* text=auto
